# DS 2002 Final Project
## Nina Jannatifar (worked individually)
### Questions that users can ask:
1. Top 10 Shows of 2020
2. Top 10 Movies of 2020
3. Genres of the Top 5 Movies of 2019
4. Genres of the Top 5 Shows of 2019
5. Number of Seasons of the Top Show of 2014
6. Top Horror Movie of All Time
7. Country Producing the Top Movie of 2010
8. Duration of the Top Movie of 2000
9. Top 10 Years with the Highest Average Movie IMDB Scores
10. Age Certification of Top Show of 2016

In [1]:
# import relevant packages
import os
import pandas as pd
import pymongo
import json

In [2]:
#note: zip file names were changed as follows: Best Movie by Year Netflix -> bestmoviebyyear; Best Movies Netflix -> bestmovies
#Best Show by Year Netflix -> bestshowbyyear; Best Shows Netflix -> bestshows

#read in all the csv files
os.chdir(r'/Users/ninij/Desktop/NetflixData')
bestMovieByYear = pd.read_csv(r'bestmoviebyyear.csv')
bestMovies = pd.read_csv(r'bestmovies.csv')
bestShowByYear =  pd.read_csv(r'bestshowbyyear.csv')
bestShows =  pd.read_csv(r'bestshows.csv')
rawCredits =  pd.read_csv(r'raw_credits.csv')
rawTitles =  pd.read_csv(r'raw_titles.csv')

In [3]:
bestMovieByYear.drop('index', inplace=True, axis=1)
bestMovieByYear

,TITLE,RELEASE_YEAR,SCORE,MAIN_GENRE,MAIN_PRODUCTION
0,White Christmas,1954,7.5,romance,US
1,The Guns of Navarone,1961,7.5,war,US
2,My Fair Lady,1964,7.8,drama,US
3,Bonnie and Clyde,1967,7.7,drama,US
4,Dirty Harry,1971,7.7,thriller,US
5,The Exorcist,1973,8.1,horror,US
6,Monty Python and the Holy Grail,1975,8.2,comedy,GB
7,Taxi Driver,1976,8.3,crime,US
8,Life of Brian,1979,8.0,comedy,GB
9,The Blue Lagoon,1980,5.8,romance,US
10,Annie,1982,6.6,drama,US
11,Christine,1983,6.7,horror,US
12,Once Upon a Time in America,1984,8.3,drama,US
13,Stand by Me,1986,8.1,drama,US
14,Full Metal Jacket,1987,8.3,drama,GB
15,When Harry Met Sally...,1989,7.7,romance,US
16,Awakenings,1990,7.8,drama,US
17,My Girl,1991,6.9,comedy,US
18,A River Runs Through It,1992,7.2,drama,US
19,Menace II Society,1993,7.5,drama,US
20,Forrest Gump,1994,8.8,drama,US
21,Desperado,1995,7.1,thriller,US
22,Happy Gilmore,1996,7.0,comedy,US
23,Neon Genesis Evangelion: The End of Evangelion,1997,8.0,scifi,JP
24,Saving Private Ryan,1998,8.6,drama,US
25,"Girl, Interrupted",1999,7.3,drama,US
26,The Patriot,2000,7.2,drama,DE
27,Lagaan: Once Upon a Time in India,2001,8.1,drama,IN
28,Road to Perdition,2002,7.7,thriller,US
29,Big Fish,2003,8.0,drama,US
30,Swades,2004,8.1,drama,IN
31,Memoirs of a Geisha,2005,7.3,drama,FR
32,Rang De Basanti,2006,8.1,comedy,IN
33,Like Stars on Earth,2007,8.3,drama,IN
34,Ip Man,2008,8.0,drama,HK
35,3 Idiots,2009,8.4,comedy,IN
36,Inception,2010,8.8,scifi,GB
37,Warrior,2011,8.2,drama,US
38,Django Unchained,2012,8.4,western,US
39,Rush,2013,8.1,drama,US
40,Queen,2014,8.2,drama,IN
41,Drishyam,2015,8.2,thriller,IN
42,Dangal,2016,8.4,action,IN
43,Bāhubali 2: The Conclusion,2017,8.2,fantasy,IN
44,Andhadhun,2018,8.2,thriller,IN
45,Dave Chappelle: Sticks & Stones,2019,8.4,comedy,US
46,David Attenborough: A Life on Our Planet,2020,9.0,documentary,GB
47,Bo Burnham: Inside,2021,8.7,comedy,US
48,The Tinder Swindler,2022,7.2,crime,GB

In [4]:
bestMovies.drop('index', inplace=True, axis=1)
bestMovies

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION
0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB
1,Inception,2010,8.8,2268288,148,scifi,GB
2,Forrest Gump,1994,8.8,1994599,142,drama,US
3,Anbe Sivam,2003,8.7,20595,160,comedy,IN
4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US
...,...,...,...,...,...,...,...
382,The Trip,2021,6.9,19706,113,comedy,NO
383,The Dirt,2019,6.9,47603,108,drama,US
384,Top Gun,1986,6.9,329656,110,drama,US
385,Radhe Shyam,2022,6.9,21328,138,romance,IN
386,Sorry to Bother You,2018,6.9,75653,111,fantasy,US

In [5]:
bestShowByYear.drop('index', inplace=True, axis=1)
bestShowByYear

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
0,Monty Python's Flying Circus,1969,8.8,4,comedy,GB
1,Knight Rider,1982,6.9,4,action,US
2,Seinfeld,1989,8.9,9,comedy,US
3,Star Trek: Deep Space Nine,1993,8.1,7,scifi,US
4,Neon Genesis Evangelion,1995,8.5,1,scifi,JP
5,Stargate SG-1,1997,8.4,10,scifi,US
6,Cowboy Bebop,1998,8.9,1,western,JP
7,One Piece,1999,8.8,21,action,JP
8,Gilmore Girls,2000,8.2,8,comedy,US
9,Trailer Park Boys,2001,8.6,12,comedy,CA
10,Naruto,2002,8.4,6,scifi,JP
11,Chappelle's Show,2003,8.8,3,comedy,US
12,The 4400,2004,7.3,4,scifi,US
13,Avatar: The Last Airbender,2005,9.3,3,scifi,US
14,DEATH NOTE,2006,9.0,1,scifi,JP
15,iCarly,2007,6.7,6,comedy,US
16,Breaking Bad,2008,9.5,5,drama,US
17,Community,2009,8.5,6,comedy,US
18,Downton Abbey,2010,8.7,6,drama,GB
19,Hunter x Hunter,2011,9.0,3,drama,JP
20,Call the Midwife,2012,8.5,11,drama,GB
21,Attack on Titan,2013,9.0,4,scifi,JP
22,BoJack Horseman,2014,8.8,6,drama,US
23,Better Call Saul,2015,8.8,6,comedy,US
24,Stranger Things,2016,8.7,5,scifi,US
25,Anne with an E,2017,8.7,3,drama,CA
26,Cobra Kai,2018,8.6,5,action,US
27,Kota Factory,2019,9.3,2,drama,IN
28,The Last Dance,2020,9.1,1,documentary,US
29,Arcane,2021,9.1,1,action,US
30,Heartstopper,2022,8.9,1,drama,GB

In [6]:
bestShows.drop('index', inplace=True, axis=1)
bestShows

,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
0,Breaking Bad,2008,9.5,1727694,48,5,drama,US
1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US
2,Our Planet,2019,9.3,41386,50,1,documentary,GB
3,Kota Factory,2019,9.3,66985,42,2,drama,IN
4,The Last Dance,2020,9.1,108321,50,1,documentary,US
...,...,...,...,...,...,...,...,...
241,Evil Genius,2018,7.5,27516,48,1,crime,US
242,13 Reasons Why,2017,7.5,282373,58,4,drama,US
243,Lupin,2021,7.5,100575,46,3,crime,FR
244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR
245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US

In [7]:
rawCredits.drop('index', inplace=True, axis=1)
rawCredits

,person_id,id,name,character,role
0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...
77208,1347054,tm1098060,Nnenna Rachael Okonkwo,Afinni,ACTOR
77209,157590,tm1098060,Lucien Morgan,Dr. Ian Stones,ACTOR
77210,129059,tm1098060,Magdalena Korpas,Jane,ACTOR
77211,2050199,tm1098060,Mistura Olusanya,Nurse Titi,ACTOR
77212,2050423,tm1098060,Yemi Amodu,NaN,DIRECTOR

In [8]:
rawTitles.drop('index', inplace=True, axis=1)
rawTitles
ageCert = rawTitles[['title', 'age_certification']].copy()
ageCert.rename(columns={"title": "TITLE", "age_certification": "AGE_CERTIFICATION"}, inplace=True)
ageCert

                                    TITLE AGE_CERTIFICATION
0     Five Came Back: The Reference Films             TV-MA
1                             Taxi Driver                 R
2         Monty Python and the Holy Grail                PG
3                           Life of Brian                 R
4                            The Exorcist                 R
...                                   ...               ...
5801                            Fine Wine               NaN
5802                       Edis Starlight               NaN
5803                                Clash               NaN
5804                       Shadow Parties               NaN
5805   Mighty Little Bheem: Kite Festival               NaN

[5806 rows x 2 columns]

In [9]:
#create final mongo movie collection
mergedMovieData = bestMovies.merge(ageCert, how='inner', on='TITLE')
mergedMovieData.drop('NUMBER_OF_VOTES', inplace=True, axis=1)

In [10]:
#create final mongo movie collection
mergedShowData = bestShows.merge(ageCert, how='inner', on='TITLE')
mergedShowData.drop('NUMBER_OF_VOTES', inplace=True, axis=1)

In [11]:
# final pandas dataframes to be uploaded to mongoDB
mergedMovieData

,TITLE,RELEASE_YEAR,SCORE,DURATION,MAIN_GENRE,MAIN_PRODUCTION,AGE_CERTIFICATION
0,David Attenborough: A Life on Our Planet,2020,9.0,83,documentary,GB,PG
1,Inception,2010,8.8,148,scifi,GB,PG-13
2,Forrest Gump,1994,8.8,142,drama,US,PG-13
3,Anbe Sivam,2003,8.7,160,comedy,IN,NaN
4,Bo Burnham: Inside,2021,8.7,87,comedy,US,R
...,...,...,...,...,...,...,...
392,The Trip,2021,6.9,113,comedy,NO,NaN
393,The Dirt,2019,6.9,108,drama,US,R
394,Top Gun,1986,6.9,110,drama,US,PG
395,Radhe Shyam,2022,6.9,138,romance,IN,NaN
396,Sorry to Bother You,2018,6.9,111,fantasy,US,R

In [12]:
mergedShowData

,TITLE,RELEASE_YEAR,SCORE,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION,AGE_CERTIFICATION
0,Breaking Bad,2008,9.5,48,5,drama,US,TV-MA
1,Avatar: The Last Airbender,2005,9.3,24,3,scifi,US,TV-Y7
2,Our Planet,2019,9.3,50,1,documentary,GB,TV-G
3,Kota Factory,2019,9.3,42,2,drama,IN,TV-MA
4,The Last Dance,2020,9.1,50,1,documentary,US,TV-MA
...,...,...,...,...,...,...,...,...
248,Evil Genius,2018,7.5,48,1,crime,US,TV-MA
249,13 Reasons Why,2017,7.5,58,4,drama,US,TV-MA
250,Lupin,2021,7.5,46,3,crime,FR,TV-MA
251,All of Us Are Dead,2022,7.5,61,1,action,KR,TV-MA
252,I Am Not Okay with This,2020,7.5,21,1,comedy,US,TV-MA

In [13]:
# Moving data to mongoDB
host_name = "localhost"
port = "27017"

conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
}
client = pymongo.MongoClient(conn_str["local"])

print(f"Local Connection String: {conn_str['local']}")
db_name = "Netflix"
db = client[db_name]

Local Connection String: mongodb://localhost:27017/

In [14]:
# make collection for movie data:
MovieData = mergedMovieData.to_dict(orient = "records")
db.Movies.insert_many(MovieData)

In [15]:
# make collection for show data: 
ShowData = mergedShowData.to_dict(orient = "records")
db.Shows.insert_many(ShowData)